{% extends 'register/base.html' %}

{% block content %}
<!--<p>{{day.title}}</p>-->
<div class="alert alert-info" role="alert">
    <strong>Heads up!</strong> This alert needs your attention,
    but it's not super important.
</div>
<form action="" method="POST">
   <table class="table">

       <tr>
           <th>DTE Master</th>
           <td>{{ form.as_p }}</td>
       </tr>

   </table>
         <button type="button" class="btn btn-success"><a href=="{% url 'register:master_dte_add' %}" class="card-link" ><font font color="white" >追加</font></a></button>

    <button type="submit" class = "btn btn-primary">Save</button>
    {% csrf_token %}

</form>

{% endblock %}
